:root {
  --blue: #4655f6;
  --red: #ff3c28;
  --cian: #0ab9e6;
  --green: #1edc00;
  --yellow: #e5ff00;
  --purple: #b400e7;
  --orange: #faa004;
  --gray: #828282;
}

.catalog {
  margin: 0 100px 15px 100px;
}

.catalog .title-catalog {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
  color: var(--purple);
}

.catalog .results-catalog {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  color: var(--blue);
}

@media (max-width: 768px) {
  .catalog {
    margin: 0 0 15px 0;
  }

  .catalog .title,
  .catalog .results {
    text-align: center;
    margin-bottom: 10px;
  }

  .catalog .title {
    font-size: 18px;
  }

  .catalog .results {
    font-size: 14px;
  }
}
