:root {
  --blue: #4655f6;
  --red: #ff3c28;
  --cian: #0ab9e6;
  --green: #1edc00;
  --yellow: #e5ff00;
  --purple: #b400e7;
  --orange: #faa004;
  --gray: #828282;
}

.footer {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.footer p {
  color: white;
}
