:root {
  --blue: #4655f6;
  --red: #ff3c28;
  --cian: #0ab9e6;
  --green: #1edc00;
  --yellow: #e5ff00;
  --purple: #b400e7;
  --orange: #faa004;
  --gray: #828282;
}

.footer {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  padding: 15px;
}

.footer p {
  color: white;
  font-weight: 400;
  cursor: pointer;
  margin: 4px 0;
}

.show-button {
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}

.show-button:hover {
  color: var(--red);
  background-color: white;
}
