:root {
  --blue: #4655f6;
  --red: #ff3c28;
  --cian: #0ab9e6;
  --green: #1edc00;
  --yellow: #e5ff00;
  --purple: #b400e7;
  --orange: #faa004;
  --gray: #828282;
}

.navbar {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  padding: 20px 0;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  margin-left: 50px;
}

.contact p {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.phone-icon,
.email-icon {
  background-color: var(--blue);
  padding: 10px;
  border-radius: 100%;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
}

.menu {
  background-color: var(--blue);
  width: 100%;
  text-align: center;
}

.nav {
  display: inline-flex;
}

.nav-item a {
  color: white;
  text-align: center;
}

.nav-item a:hover {
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 15px;
  }

  .contact {
    display: block;
    margin-left: 10px;
  }

  .contact p {
    font-size: 12px;
  }

  .contact p:first-child {
    margin-bottom: 10px;
  }

  .phone-icon,
  .email-icon {
    padding: 10px;
    border-radius: 100%;
    font-size: 10px;
    margin-right: 2px;
  }
}
