:root {
  --blue: #4655f6;
  --red: #ff3c28;
  --cian: #0ab9e6;
  --green: #1edc00;
  --yellow: #e5ff00;
  --purple: #b400e7;
  --orange: #faa004;
  --gray: #828282;
}

.navbar {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  padding: 20px 0;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  margin-left: 50px;
}

.contact p {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.phone-icon-visible,
.email-icon-visible {
  background-color: var(--blue);
  padding: 10px;
  border-radius: 100%;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.phone-icon-invisible,
.email-icon-invisible {
  background-color: white;
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 100%;
  color: var(--blue);
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.phone-icon-invisible:hover,
.email-icon-invisible:hover {
  background-color: var(--blue);
  color: white;
}

.menu {
  background-color: var(--blue);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 10px 15px;
}

.link:hover {
  color: white;
}

.nav-cart {
  margin-left: 75px;
  border: 1px solid white;
  padding: 2px 10px;
}

.nav-cart:hover {
  background-color: white;
  color: var(--blue);
}

.nav-cart span {
  background-color: white;
  color: var(--blue);
  font-size: 14px;
  padding: 0 4px;
  margin-left: 2px;
}

.nav-cart:hover > span {
  background-color: var(--blue);
  color: white;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 15px;
  }

  .contact {
    display: block;
    margin-left: 10px;
  }

  .contact p {
    font-size: 12px;
  }

  .contact p:first-child {
    margin-bottom: 10px;
  }

  .phone-icon-visible,
  .email-icon-visible {
    padding: 10px;
    border-radius: 100%;
    font-size: 14px;
    margin-right: 2px;
  }
}
