:root {
  --blue: #4655f6;
  --red: #ff3c28;
  --cian: #0ab9e6;
  --green: #1edc00;
  --yellow: #e5ff00;
  --purple: #b400e7;
  --orange: #faa004;
  --gray: #828282;
}

.quantityPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quantityPicker button,
.quantityPicker label {
  margin: 3px;
}

.quantityPicker label {
  border: 1px solid var(--gray);
  width: 25px;
}

.quantityPicker label p {
  text-align: center;
}

.quantityPicker button {
  text-align: center;
  height: 25px;
  width: 25px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
}

.quantityPicker button:first-child {
  color: var(--orange);
}

.quantityPicker button:first-child:hover {
  color: white;
  background-color: var(--orange);
  border-radius: 2px;
}

.quantityPicker button:last-child {
  color: var(--green);
}

.quantityPicker button:last-child:hover {
  color: white;
  background-color: var(--green);
  border-radius: 2px;
}
